@import url("https://fonts.googleapis.com/css2?family=KoHo:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Khand:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700&display=swap');


#nav-top-1 {
    background-color: #72a530;
    padding-left: 100px;
    height: 41px;
}

.nav-link img {
    width: 17.572px;
    height: 14.614px;
    flex-shrink: 0;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: white;
}

#navbarTogglerDemo02 #nav-top-2 .nav-item .nav-link {
    color: black;
    font-family: "KoHo", sans-serif;
    font-weight: bold;
    margin-top: 12px;
}

#nav-btn {
    background-color: #72a530;
    border-radius: 10px;
    border: none;
    width: 170px;
    max-height: 39px;
    height: auto;
    padding-top: 4px;
    padding-bottom: 8px;
    color: white;
    flex-shrink: 0;
}

#nav-top-2 {
    padding-right: 90px;
}

.navbar-brand {
    padding-left: 90px;
}

#email {
    padding-right: 90px;
    font-family: 'Manrope', sans-serif;
}




@media only screen and (max-width: 990px) {
    #email {
        display: none;
    }

    #nav-top-1 {
        display: none;
    }

    .navbar-brand {
        padding-left: 0px;
    }

    #nav-top-2 {
        padding-right: 0;
    }
    .menu {
        list-style-type: none;
        margin-top: 0;
        margin-left: 0;
    }
    .menu-item{
        margin-top:10px ;
    }
    .bg{
        display: none;
    }
}
footer {
    background-color: #eef7f8;
    max-width: 1920px;
    max-height: 732px;
    width: auto;
    height: auto;
    padding-bottom: 90px;
  }
  
  #footer-p {
    color: #212121;
    font-size: 14px;
    font-family: 'Manrope', sans-serif;
    line-height: 174.1%;
    letter-spacing: 0.35px;
    text-transform: capitalize;
    margin-top: 25px;
  }
  
  #footer-h4 {
    color: #333;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
  }
  
  #p-links {
    color: #333;
    font-size: 18px;
    font-family: Inter;
    line-height: 184%;
  }
  
  #p-links a {
    text-decoration: none;
    color: #333;
  }
  
  #p-links img {
    padding-right: 2px;
  }
.cont-1 {
    max-height: 1920px;
    background-color: #F9EEE4;
    height: auto;
    width: 1080px;
}
.cont-2 {
    max-height: 1920px;
    background-color: #FFF;
    height: auto;
    width: 1080px;
}
.menu {
    list-style-type: none;
    margin-top: 80px;
    padding-left: 50px;
    margin-bottom: 80px;
    cursor: pointer;
}
.menu-item{
    margin-top: 10px;
}

.food-name {
    color: #4F4F4F;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.food-ingridients {
    color: #626262;
    font-family: KoHo;
    font-size: 16px;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
    
}
.custom-toggler.navbar-toggler{
    border-color: #72a530;
  }
.food-name-white {
    color: #4F4F4F;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height:normal;
    
}

.food-ingridients-white {
    color: #626262;
    font-family: KoHo;
    font-size: 16px;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
}


.menu-item:hover{
    display: block;
    animation: fadeIn 1s
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
.bg{
    margin-bottom: 0px;
    width: 798px;
    height: 660px;
    margin-top: 120PX;
}
.title-heading{
    text-align: center;
    color: #626262;
    font-family: 'Manrope', sans-serif;
    opacity: 0.6;
    font-weight: 600;
    font-size: 60px;
    letter-spacing: 0em;
    padding-top: 20px;
}
.custom-toggler.navbar-toggler{
    border-color: #72a530;
}
.custom-toggler .navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 128, 0, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
#carousel-2 {
    background-color: #eef7f8;
    max-width: 1920px;
    max-height: 532px;
    width: auto;
    height: auto;
    padding-bottom: 90px;
  }
 